.abouttop {
	font-size: 50px;
}

.aboutheader {
	font-size: 25px;
	text-align: center;
	width: 100%;
}

.aboutcenter {
	font-size: 25px;
	text-align: center;
	width: 100%;
}


.imageclass {
	font-size: 25px;
	text-align: center;
	width: 40%;
}